
<% locals.messages.forEach((msg, index) => { %>
    <% const options = { 
        year: 'numeric',
        month: '2-digit', // 'long' for full month name
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
    }; %>
    
    <% const formattedDate = new Date(msg.timestamp).toLocaleString('en-GB', options).replace(',', ''); %>
        
    <section class="msg">
        <div class="msg msg-<%= index %>">
            <h1><%= msg.title %></h1>
            <div class="author"><%= locals.user && locals.user.membership_status ? msg.firstname + " " + msg.lastname : "" %></div>
            <div class="time"><%= locals.user && locals.user.membership_status ? formattedDate : "DD/MM/YYYY" %></div>
            <div class="text"><%= msg.text %></div>
        </div>
        <% if (locals.user && locals.user.admin) { %>
            <form action="/deletemsg" method="post">
                <input type="hidden" name="messageid" value="<%= msg.message_id %>">
                <button>Delete</button>
            </form>
        <% } %>
    </section>
<% }) %>
